// colours
$brand: #72CDC5;
$red: #E74834;
$white: #FFFAEF;
$blue: #3895CF;
$black: #201B22;

// size variables
$max-width: 50em;

// border box all the shizzle
*, :before, :after {
	box-sizing: border-box;
}