.branding {
	max-width: 12.5em;
	margin: 2em auto .5em auto;
	font-size: 1em;
	fill: $white;
}

.strapline {
	font-weight: normal;
	text-align: center;
	max-width: 15em;
	color: $white;
	font-size: 1.5em;
	margin: 0 auto;
}