.lines {
	
	.lines--red-white {
		height: .375em;
		background: $red;
		border-bottom: .375em solid $white ;
		box-sizing: content-box;
	}
	
	.lines--blue-blue {
		height: .375em;
		background: $blue;
		border-bottom: .1875em solid $black;
		box-sizing: content-box;		
	}
}