.lines {
	
	.lines--red-white {
		height: .375em;
		background: $red;
		border-bottom: solid $white .375em;
	}
	
	.lines--blue-blue {
		height: .375em;
		background: $blue;
		border-bottom: solid $black .1875em;
	}
}