.cafe {
	padding: 10px 30px 10px 10px;
	
	.cafe__title {
		margin: 0 0 .25em 0;
		font-size: 22px;
	}
	
	.cafe__distance {
		font-size: 14px;
	}
	
	.more-button {
		float: right;
		margin-right: -20px;
	}
	
	.rating {
		margin-bottom: .25em;
		
		.stars {
			margin-right: .5em;
		}
		
		.stars > span {
			font-size: 1em !important;
			width: .9em;
		}
		
		.rating__meta {
			display: inline-block;
			font-size: 14px;
		}
	}
	
	.cafe__details {
		position: absolute;
		left: -100%;
		width: 85%;
		top: 0;
		transition: left .3s;
		background: $white;
		padding: 1em;
		
		// applied with js
		&.show {
			left: 0;
			height: 100%;
			z-index: 100;
			box-shadow: 0 0 4px rgba(0,0,0, .4);
			overflow: scroll;
			position: fixed;
		}
		
		.cafe__title {
			padding-right: 30px;
		}
	}
}

// class applied to body tag when .cafe__details are visible
.fixed-page {
	position: fixed;
}

.reviews {
	list-style: none;
	padding-left: 0;
}

.review {
	margin-bottom: 1em;
	border-bottom: 1px solid darken($white, 10%);
	
	&:last-child {
		border-bottom: none;
	}
	
.review__entry {
		
		p {
			font-size: .8125em;
			
			&:first-child {
				margin-top: 0;
			}
		}
	}
}	
	