.form {
	.form__group {
	  clear: both;
	  margin: 1.5em 0;
	}
  	.form__control {
	  display: block;
	  padding: .5em;

	  &.form__control--full {
		width: 100%;
	  }
	}
  	.form__label {
	  font-size: 1.5em;
	  display: block;
	  margin-bottom: .5em;
	}
  .form__helper {
	display: block;
	margin-bottom: .5em;
  }
}