.rating{

  display: inline-block;

  .stars {
	unicode-bidi: bidi-override;
	direction: rtl;
	display: inline-block;
  }
  .stars > span {
	font-size: 2em;
	display: inline-block;
	position: relative;
	width: 1.1em;
	cursor: pointer;
	color: #ddd;
  }
  .stars > span:hover:before,
  .stars > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
	color: gold;
  }
  
  .stars > span.on {
		color: gold;
	}

}